.buttons-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    height: 200px;
    margin-bottom: 35px;
    /* padding: 10px 15px 20px 15px; */
}
.hackathon-button, 
.sports-button, .club-events-button, .workshops-button{
    background-color: rgb(13, 29, 117);
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    border: none;
    font-weight:600 ;
    border-radius: 20px;
    transition: .2s;
}
.hackathon-button:hover, 
.sports-button:hover, .club-events-button:hover, .workshops-button:hover{
    background-color: rgb(15, 16, 107);
    
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}