.sections{
    display: flex;
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-weight: bolder;
    align-items: center;
    padding-left: 10px;
    text-decoration: underline;  
    background-color: rgba(187, 212, 212, 0.616);
    padding-bottom: 400px;
    border-radius: 5px;
}
.hackathon-image{
 height: 50px;
 border-radius: 25px;
}
.hackathon-text{
    margin-left:10px;
    font-size: 25px;
}
