.header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
}
.left-section{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    
}

.hamburger-menu-div{
   background-color: rgb(236, 239, 245);
   width: 40px;
   height: 40px;
   margin-left: 10px;
   border-radius: 2px;
   cursor: pointer;
}

.middle-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skit-logo-image{
    width: 60px;
    height: 60px;
    padding-top: 3px;
}
.Homepage-title{
    display: flex;
    justify-content: center;
    color: rgb(225, 238, 250);
    font-size: 60px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    margin-top: 20px;
}
.title-about
{
    display: flex;
    justify-content: center;
    color: antiquewhite;
}
.get-started-button{
    background-color:  rgb(219, 238, 53);
    color: rgb(0, 0, 0);
    margin-top: 30px;
    font-size: 18px;
    padding: 5px 5px 5px 5px;
    border: none;
    font-weight:600 ;
    border-radius: 20px;
    transition: .2s;
}
.get-started-button:hover,
.get-started-button:active{

    cursor: pointer;
    transform: scale(1.33);
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}
.get-started-button:active{
    background-color: rgb(255, 255, 255);
    opacity: .75;
}
.right-section{
    
}
.user-profile{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 250px;
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
}

.whats-next-text{
    color: rgb(22, 91, 91);
    background-color: rgb(136, 255, 0);
    display: inline-block;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 100px;
    margin-left: 10px;
    border-radius: 3px;
    text-decoration: underline;
}