.background-image{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    object-fit: cover;
    height: 580px;
    position: absolute;
}
.about-me{
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}
.my-contacts{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
.contact-details{
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr;
    justify-content: center;
}
