.table-of-contents
{
    display: flex;
    gap: 10px;
    flex-direction: column;
    gap: 12px;
    margin-top: 75px;
}
.main-section{
    /* display: flex; */
    height: 400px;
    background-color: rgb(211, 179, 240);
    border-radius: 4px;
}
.header-section{
    display: flex;
    width: 50px;
    gap: 10px;
}
.header-section:hover,
.header-section:active{
    cursor: pointer;
}
.text{
    margin-top: 0;
    padding-top: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: 600;
    text-decoration: underline;
}
.image{
    margin-left: 5px;
    margin-top: 5px;
    height: 50px;
    border-radius: 25px;

}