.header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
}
.left-section{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    
}

.hamburger-menu-div{
   background-color: rgb(236, 239, 245);
   width: 40px;
   height: 40px;
   margin-left: 10px;
   border-radius: 2px;
   cursor: pointer;
}

.middle-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skit-logo-image{
    width: 60px;
    height: 60px;
    padding-top: 3px;
}
.Homepage-title{
    display: flex;
    justify-content: center;
    color: rgb(225, 238, 250);
    font-size: 60px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    margin-top: 20px;
}
.title-about
{
    display: flex;
    justify-content: center;
    color: rgb(221, 254, 255);
    font-size:17px;
    font-weight: 600;
    
    
}
.get-started-button{
    background-color:  rgb(219, 238, 53);
    color: rgb(0, 0, 0);
    margin-top: 30px;
    font-size: 18px;
    padding: 5px 5px 5px 5px;
    border: none;
    font-weight:600 ;
    border-radius: 20px;
    transition: .2s;
}
.get-started-button:hover,
.get-started-button:active{

    cursor: pointer;
    transform: scale(1.33);
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}
.get-started-button:active{
    background-color: rgb(224, 222, 55);
    opacity: .75;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 250px;
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
}
.profile {
  position: relative;
  display: inline-block; /* shrink-wrap to image */
}

/* avatar */
.avatar {
  display: block;
  border-radius: 50%;
  object-fit: cover;
}

/* tooltip hidden by default */
.tooltip {
  position: absolute;
  left: 55%;
  transform: translateX(-50%) translateY(8px);
  bottom: 100%; /* place above the image */
  white-space: nowrap;
  padding: 5px 15px 20px;
  background: rgba(0,0,0,0.85);
  color: #fff;
  font-size: 17px;
  border-radius: 6px;
  top:10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms ease, transform 150ms ease;
  z-index: 10;
  
}

/* small arrow */
.tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: rgba(0,0,0,0.85) transparent transparent transparent;
}

/* show on hover (or focus for keyboard accessibility) */
.profile:hover .tooltip,
.profile:focus-within .tooltip {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  pointer-events: auto;
}


.whats-next-text{
    color: rgb(22, 91, 91);
    background-color: rgb(136, 255, 0);
    display: inline-block;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 100px;
    margin-left: 10px;
    border-radius: 3px;
    text-decoration: underline;
}